.ggg{
    background-image: url('/static/img/Hero_Desktop-47db29dfa0ec27da097f38bbbe35c8ae.jpg');
    background-size: 1920px 1080px;
    height: 400px;
}

.tt{
    margin-top: 55px;
}
.bb{
    margin-top: 25px;    
}
.ph{
    height: 338px;   
    width: 278px;
    size: 300%;
}
.cl{
    margin-left: 25px;   
}

.ff{
    
    background-color:#f7f7f7;
    height: 250px;
    margin-top: 65px;
}
.side{
    
    margin-left: 37%;
    margin-right: 37%;
}
.vv{
    margin-top: 13%;
    
}
.ll{
    margin-left: 5%;
}
.si{
    margin-left: 47%;
    margin-right: 50%;

}
.sii{
    margin-left: 11%;
    margin-right: 11%;    
}
.le{
    margin-left: 10%;
}
.lle{
    margin-left: 20%;
}
.ss:hover{
    color:rgb(50, 90, 202);
    
}
.siii{
    margin-left: 20%;
    margin-right: 20%;
}
.vv2{
    margin-top: 10%;
   
}
.cc{
    background-color:#f7f7f7;    
}
.v3{
    margin-top: 3%;
}
.si2{
    
    margin-left: 7%;
    margin-right: 27%;
}
.lg{
    margin-left: 4%; 
    padding-top: 3%;   
}
.re{
    margin-left: 4%;     
}

.pr{
    margin-right: 4%;    
}
.prpa{
    margin-right: 52%;
}
.s3{
    margin-left: 50%;
    margin-right: 0%;
}