<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='img/free-icon-curves-1151114.png')}}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/fontello.css') }}" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" >
    
    <script TYPE="text/javascript">
      
    </script>



</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light cc shadow-sm" >
        <div class="container-fluid" >
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" action="user_page">
                <img src= "{{url_for('static', filename='img/free-icon-curves-1151114.png')}}" alt="" width="29" height="27">
            </a>
            <a class="navbar-brand navbar-brand mb-0 h1 " action="user_page">Calculoter</a>
            <ul class="navbar-nav me-auto mb-3 mb-lg-0">
              <li class="nav-item">
                
                <a class="nav-link active" aria-current="page" href="#"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"></a>
              </li>
              <li class="nav-item">

                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
              </li>
              
            </ul>
            <form class="d-flex" action="user_page" style="right-right: 16px">
              
              <button type="submit" class="btn btn-primary">Строить</button>
            </form>
            <form class="d-flex" action="/">
              
              <button class="btn btn-outline-danger" type="submit">Выйти</button>
            </form>
            </div>
        </div>
    </nav>


    
    <div class="container v3">
      <div class="row row-cols-2">
        <div class="col-sm-4">

          <form class="btn-group-vertical s3 b5" role="group" aria-label="Vertical radio toggle button group ">
            <input type="radio" class="btn-check b5" name="vbtn-radio" id="vbtn-radio1" autocomplete="on" onclick="showhideon(mydiv,history2)" checked>
            <label class="btn btn-outline-light text-dark b5" for="vbtn-radio1"><p class="mt-2 fs-6"> <i class="fa-regular fa-user" style="padding: 0px 8px;"></i>Личные данные</p></label>
            <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off" onclick="showhide(mydiv,history2)">
            <label class="btn btn-outline-light text-dark" for="vbtn-radio2"><p class="mt-2 fs-6"> <i class="fa fa-users" style="padding: 0px 7px;" aria-hidden="true"></i> Список пользователей</p></label>
            
          </form>
        </div>
        <div class="col-sm-8 " id="tt">
          
          <form class="si2 cc rounded shadow-sm" method="POST" action = '/profile' enctype = 'multipart/form-data'>
            
            <div class="lg">
                <h2 >{{ session['login'] }}</h2>
            
            </div>

            <div class="mb-4 mt-3 row">
                <div class="re col-md ">
                    <label for="exampleInputEmail1" class="form-label ">Имя</label>
                    <input type="text" name="login" id="login" class="form-control" placeholder="" aria-label="Имя" value="{{ session['login'] }}">
                </div>
                <div class=" col-md pr">
                    <label for="exampleInputEmail1" class="form-label ">Email</label>
                    <input type="email" name="email" id="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{ session['email'] }}">
                </div>
            </div>
            
            <div class="mb-3 re prpa">
              <label for="exampleInputPassword1" class="form-label">Пароль</label>
              <input type="text" name="password" id="password" class="form-control" placeholder="" aria-label="Имя" value="{{ session['password'] }}">
            </div>  

            <div class="p-1">

            </div>
            <div class="re">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
            
          
            <div class="p-3">

            </div>
        
          </form> 
        
          <div class="accordion accordion-flush si2 v4 shadow-sm rounded " id="accordionFlushExample">
            <div class="accordion-item ">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed border-0" style="background-color:#f7f7f7" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  История пользователя
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" style="background-color:#f7f7f7" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    {% for el in files %}
                    <li class="nav-item">
                        <a name='filename' id='filename' href="{{ url_for('download', filename =  el.filename) }}">{{ el.filename }}</a>
                    </li>
                    {% endfor %}
                </div>
              </div>
          
            </div>
          </div>
          

        </div>
      
        <div class="col-sm-8" id="hh23" style="display: none;">

          <form class="si2 cc rounded shadow-sm">
            
            <form class="d-flex" role="search" method="POST"  enctype = 'multipart/form-data'>
              
              
              <div class="row">
                <div class="col-md-auto" style="margin-top: 4%; margin-left: 4%; margin-right: 0%; margin-bottom: 4%">
                  <input class="form-control me-2 " name="login_user" id="login_user" style="width: 200%;" type="search" placeholder="Имя пользователя" aria-label="Search">
                </div>
                <div class="col-md-auto" style="margin-top: 4%; margin-right: 0%; margin-left: 33%; margin-bottom: 4%">
                  <button class="btn btn-outline-primary" style="width: 120%;" type="submit">Найти</button>
                </div>
              </div>
            </form>
            <div class="container">
                {% for el in users %}
                <li class="nav-item">
                    {{ el.login }}
                </li>
                {% endfor %}
            </div>
          </form> 

        </div>


        </div>
      </div>
    </div>  
    
    
    <script src="https://kit.fontawesome.com/7a1d3117b1.js" crossorigin="anonymous"></script>
    <script src="../static/123.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>    
</body>
</html>