<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='img/free-icon-curves-1151114.png')}}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/fontello.css') }}" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" >
</head>
<body class = " sign_up ">
  
    <form class="vv2 side border border-#dbd9d9 rounded" method="POST" action = '/reg' enctype = 'multipart/form-data'>
        <div class="p-3">

        </div>
        <div class=" row justify-content-center ">
          
          <div class="col-6">
            <h1 >Регистрация</h1>
          </div>
          
            
        </div>

        <div class="mb-3 mt-4 sii ">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger" role="alert">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <label for="exampleInputEmail1" class="form-label ">Придумайте логин</label>
            <input type="text" id="login" name="login" class="form-control" placeholder="" aria-label="Имя">
          
          
        </div>

        <div class="mb-3 mt-4 sii ">
            <label for="exampleInputEmail1" class="form-label ">Введите email</label>
            <input type="text" id="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          
          
        </div>

        <div class="mb-3 sii ">
          <label for="exampleInputPassword1" class="form-label">Придумайте пароль</label>
          <input type="text" class="form-control" id="exampleInputPassword" name="exampleInputPassword">
        </div>

        <div class="mb-3 sii ">
            <label for="exampleInputPassword1" class="form-label">Повторите пароль</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="exampleInputPassword">
          </div>
        
          <div style=" padding-top: 7%;" class="row justify-content-md-center">
            
            <div class="col-7 lle padding-top:5%">
                
              
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                    
                
            </div>
            </div>  
        </div>
        <div class="p-4">

        </div>   
        
    
    </form>  
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>